body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    button {
        border: #2C3E50 1px solid;
        background: #FFF;
        border-radius: 5px;
        &.long {
            width: 100%
        }
    }
}